@model IEnumerable<Climassist_Last.Models.Requests>

<h2>Requests</h2>

<table class="table">
    <thead>
        <tr>
            <th>UserName</th>
            <th>UserSurname</th>
            <th>Email</th>
            <th>RequestType</th>
            <th>Status</th>
            <th>CreatedAt</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.UserName</td>
                <td>@item.UserSurname</td>
                <td>@item.Email</td>
                <td>@item.RequestType</td>
                <td>@item.Status</td>
                <td>@item.CreatedAt</td>
            </tr>
        }
    </tbody>
</table>